.libre-baskerville-regular-sm {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75%;
}

.libre-baskerville-bold {
font-family: "Libre Baskerville", serif;
font-weight: 700;
font-style: normal;
}

a {
    color: #929498;
    background-color: transparent;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .hide-sm {display:none;}
}

@media only screen and (min-width: 768px) {
    .hide-md {display:none}
}

.league-spartan-bold {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 60;
    font-style: normal;
    padding-top: 20;
    padding-bottom: 20;
}

.league-spartan-sm-bold {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 30;
    font-style: normal;
    padding-top: 20;
    padding-bottom: 20;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
